<header>
  <h1>{% currentPage "<a href='/'>Branden <i class='higby'>Higby</i></a>" %}</h1>
  <nav>
    {% currentPage "<a href='/garden/'>Garden</a>" %}<span>//</span>
    {% currentPage "<a href='/projects/'>Projects</a>" %}<span>//</span>
    {% currentPage "<a href='/about/'>About</a>" %}
  </nav>
</header>