---
layout: base.njk
---
{% include 'header.njk' %}
<main>
  <article>
    <header>
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
      {% timeAgo page.date, tended %}
      {% if content | toc | safe %}
      {{ content | toc | safe }}
      {% endif %}
    </header>
    {{ content | safe }}
  </article>
</main>
{% include 'footer.njk' %}